$shadow: 1px 1px 3px black;

body {
    margin: 0 auto;
    ul {
        list-style: none;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }
    & p {
        margin: 6px;
        font-size: 12px;
    }
    & button {
        padding: 10px 20px;
        color: white;
        font-size: 16px;
        background: #090844;
        border: none;
        border-radius: 25px;
        box-shadow: $shadow;
        cursor: pointer;
    }
}
.menu {
    & > button {
        margin: 0 10px;
        &:last-of-type {
            background: #971111;
        }
    }
}
.details {
    display: flex;
    justify-content: space-around;
    &-container {
        width: 100%;
        margin: 0 20px;
    }
    &-title {
        border-bottom: 1px solid black;
    }
    & p {
        font-size: 13px;
    }
}
.payments {
    display: flex;
    justify-content: space-between;
    &-container {
        margin-left: 20px;
    }
}
.date {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.notes {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    &-container {
        display: block;
        border: 1px solid black;
        width: 350px;
    }
}
.form {
    margin: 15px;
    padding: 20px 0;
    width: 100%;
    background: radial-gradient(
        circle at -33% 185%,
        #7c858c,
        #c8d5ff,
        #a6e2c8,
        #7c8c85
    );
    border-radius: 40px;
    -webkit-box-shadow: 2px 3px 11px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 3px 11px -4px rgba(66, 68, 90, 1);
    box-shadow: 2px 3px 11px -4px rgba(66, 68, 90, 1);

    &-section {
        display: flex;
    }
    &-row {
        display: flex;
        color: black;

        & > label {
            text-align: end;
            width: 40%;
            margin: 5px 20px;
        }
        & > input,
        textarea {
            width: 270px;
            margin: 2px;
            padding: 2px 10px;
            font-size: 16px;
            border: none;
            border-radius: 2px;
            &::placeholder {
                color: rgb(221, 159, 157);
            }
        }
        & p {
            color: white;
        }
    }
    &-annotation {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 25px;
        text-align: center;
        color: #971111;
    }
    &-button-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 37%;
        & > button {
            height: 38px;
            &:last-of-type {
                background: #971111;
            }
        }
    }
}
.grid {
    margin: 20px 20px 0 20px;
    &-row {
        display: grid;
        grid-template-columns: 0.5fr 5fr 0.5fr 0.5fr 1.25fr 1.1fr;
        &:first-child {
            background: #a8a8a8;
        }
        & p {
            border: 1px solid black;
            margin: 0;
            padding: 5px;
        }
    }
}
.total {
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
}
.sign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 150px 0 50px 0;
    &-container {
        border-top: 1px solid black;
    }
}
.annotation {
    padding-left: 14px;
    font-size: 10px;
}
.wrapper {
    width: 90vw;
    margin: 0 auto;
}
.ml {
    margin-left: 20px;
}
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.print {
    width: 794px;
    height: 1123px;
    border: 1px solid black;
}
